/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.btn, body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.hero__description, .footer-navigation__links, .link-btn, h1 {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

h4, h3, h2, h1 {
  color: #2f281e;
}

.navigation__link, .footer-navigation__links a, .logo-path, .btn {
  transition: all 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  color: #544837;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-weight: bold;
}
@media (max-width: 414px) {
  h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: bold;
  }
}

h2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  font-weight: bold;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: bold;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: bold;
}
@media (max-width: 414px) {
  h3 {
    font-size: 2.1rem;
    line-height: 3.1rem;
    font-weight: bold;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 600;
}
@media (max-width: 414px) {
  h4 {
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: bold;
  }
}

h5 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
}

a {
  color: #544837;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.block-shadowed {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.btn {
  font-size: inherit;
  line-height: 2.2rem;
  font-weight: bold;
  padding: 11px 25px 13px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.btn--outlined {
  border: 1px solid #d7d7d7;
  color: #2f281e;
  background: #ffffff;
}
.btn--outlined:hover {
  background: #d7d7d7;
}
.btn--primary {
  background: #ff9900;
  border: 1px solid #ff9900;
  color: #ffffff;
}
.btn--primary:hover {
  background: #ff7549;
  border-color: #ff7549;
}

.link-btn {
  color: #ff9900;
  font-size: inherit;
  line-height: 2.4rem;
  font-weight: 600;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.link-btn__text {
  margin-left: 9px;
}

.icon {
  display: inline-block;
  cursor: pointer;
}

.icon-square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
}
.icon-square--violet {
  background: #7752be;
}
.icon-square--red {
  background: #f03e3d;
}
.icon-square--blue {
  background: #4dadf7;
}
.icon-square--yellow {
  background: #fab005;
}

.icon-round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-round--white {
  background-color: #ffffff;
}

.icon--play {
  background-image: url("../../images/icons/play.svg");
  width: 18px;
  height: 19px;
}

.icon--arrow {
  background-image: url("../../images/icons/arrow.svg");
  width: 12px;
  height: 17px;
}

.icon--snake {
  background-image: url("../../images/icons/snake.svg");
  width: 18px;
  height: 14px;
}

.icon--heart {
  background-image: url("../../images/icons/heart.svg");
  width: 17px;
  height: 15px;
}

.icon--clock {
  background-image: url("../../../images/icons/clock.svg");
  width: 15px;
  height: 17px;
}

.icon--phone {
  background-image: url("../../images/icons/phone.svg");
  width: 13px;
  height: 13px;
}

.icon--email {
  background-image: url("../../images/icons/letter.svg");
  width: 11px;
  height: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags > .tag {
  margin-right: 0.7rem;
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: normal;
}
.tag--primary {
  background: #f5f5f5;
}
.tag--selected {
  color: #ffffff;
  background: #ff9900;
}
.tag--outlined {
  border: 1px solid #d7d7d7;
}

.burger__line, .burger::after, .burger::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #173a56;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.burger {
  display: none;
  width: 31px;
  height: 25px;
  position: relative;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .burger {
    display: inline-block;
  }
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger__line {
  top: calc(50% - 1.5px);
}

.logo {
  display: inline-flex;
}

.logo__object {
  width: 191px;
  height: 32px;
}
@media (max-width: 414px) {
  .logo__object {
    width: 158px;
    height: 26px;
  }
}

.logo-svg {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}
@media (max-width: 1197px) {
  .wrapper {
    padding: 0 46px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 20px;
  }
}

.header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding-left: 24px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 414px) {
  .header__logo {
    justify-content: center;
    flex-grow: 1;
    position: relative;
  }
}

.header__burger {
  margin-right: 37px;
}
@media (max-width: 414px) {
  .header__burger {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

@media (max-width: 414px) {
  .header__buttons {
    display: none;
  }
}
.header__buttons > .btn {
  margin-left: 14px;
}
.header__buttons :first-child {
  margin: 0;
}

.layout-4-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-cols > * {
  flex-basis: 21%;
}

.layout-3-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-cols > * {
  flex-basis: 30%;
}

.layout-2-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-cols > * {
  flex-basis: 48%;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer {
  padding: 60px 0 52px;
}
@media (max-width: 768px) {
  .footer {
    padding: 47px 0 26px;
  }
}
@media (max-width: 414px) {
  .footer {
    padding: 31px 0 8px;
  }
}

.footer__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__logo {
  flex-grow: 1;
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: 34px;
  }
}
@media (max-width: 414px) {
  .footer__logo {
    margin-bottom: 27px;
  }
}

.footer-navigation {
  flex-grow: 3;
}
@media (max-width: 414px) {
  .footer-navigation {
    flex-direction: column;
  }
}

.footer-navigation__column {
  margin-bottom: 20px;
}

.footer-navigation__heading {
  margin: 0 0 15px;
}
@media (max-width: 414px) {
  .footer-navigation__heading {
    margin-bottom: 5px;
  }
}

.footer-navigation__links {
  font-size: inherit;
  line-height: 3.5rem;
  font-weight: normal;
}
.footer-navigation__links a:hover {
  color: #ff9900;
}

.navigation {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  padding: 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #ff9900;
}

.hero {
  padding: 30px 0;
  overflow: hidden;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 414px) {
  .hero__wrapper {
    flex-direction: column-reverse;
  }
}

.hero__content {
  flex-basis: 380px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-right: 66px;
}
@media (max-width: 768px) {
  .hero__content {
    padding-right: 0;
  }
}
@media (max-width: 414px) {
  .hero__content {
    text-align: center;
  }
}

.hero__heading {
  margin: 0 0 30px;
}
@media (max-width: 414px) {
  .hero__heading {
    margin-bottom: 9px;
  }
}

.hero__description {
  margin: 0 0 45px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: normal;
}
@media (max-width: 414px) {
  .hero__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: normal;
    margin-bottom: 23px;
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
}
@media (max-width: 414px) {
  .hero__buttons {
    flex-direction: column;
  }
}
.hero__buttons > .btn {
  margin-right: 44px;
}
@media (max-width: 414px) {
  .hero__buttons > .btn {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 414px) {
  .hero__image {
    width: 100%;
    margin-bottom: 16px;
  }
}

.tools {
  text-align: center;
}

.tools__wrapper {
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: url("../../images/backgrounds/tools-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.tools__heading {
  max-width: 462px;
  margin: auto;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .tools__heading {
    margin-bottom: 50px;
  }
}
@media (max-width: 414px) {
  .tools__heading {
    margin-bottom: 43px;
  }
}

.tools__container .tool {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .tools__container .tool {
    flex-basis: 46%;
    margin-bottom: 54px;
  }
}
@media (max-width: 414px) {
  .tools__container .tool {
    flex-basis: 100%;
    margin-bottom: 47px;
  }
}

.tool {
  text-align: left;
}
@media (max-width: 768px) {
  .tool {
    text-align: center;
  }
}

.tool__title {
  margin: 30px 0 16px;
}
@media (max-width: 768px) {
  .tool__title {
    margin: 20px 0 6px;
  }
}
@media (max-width: 414px) {
  .tool__title {
    margin: 11px 0 2px;
  }
}

.tool__text {
  margin: 0;
}

.strategies {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .strategies {
    text-align: center;
  }
}

.strategies__heading {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .strategies__tags {
    justify-content: center;
  }
}

.strategies__grid {
  gap: 30px;
  grid-auto-flow: dense;
}
@media (max-width: 768px) {
  .strategies__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
  }
}
@media (max-width: 414px) {
  .strategies__grid {
    grid-template-columns: auto;
  }
}

.strategy {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.strategy--spaned {
  grid-column-start: span 2;
}
@media (max-width: 414px) {
  .strategy--spaned {
    grid-column-start: span 1;
  }
}

.strategy__image {
  max-width: 100%;
}

.strategy__title {
  flex-grow: 1;
  margin: 0 0 29px;
  text-align: left;
}

.strategy__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 33px;
}
@media (max-width: 768px) {
  .strategy__content {
    padding: 18px 24px;
  }
}
@media (max-width: 414px) {
  .strategy__content {
    padding: 26px 28px;
  }
}

.strategy__tags {
  margin: 0 -0.7rem -0.7rem 0;
}
.strategy__tags > .tag {
  margin-bottom: 0.7rem;
}

.about-us {
  padding: 66px 0 100px 0;
}

.about-us__heading {
  margin: 0 0 14px;
}

.about-us__description {
  margin: 0 0 45px;
}

.about-us__employees {
  padding-right: 32px;
}

.employee {
  padding: 35px;
  position: relative;
}

.employee__name {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  margin: 0;
}

.employee__title {
  font-size: 1.4rem;
  line-height: inherit;
  font-weight: normal;
  margin: 0;
}

.employee__contact {
  font-size: 1.4rem;
  line-height: inherit;
  font-weight: normal;
  color: #1943ef;
}
.employee__contact:hover {
  text-decoration: underline;
}

.employee__image {
  position: absolute;
  top: 20px;
  right: -32px;
  width: 98px;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.contact-us {
  background: #ffeee1;
  padding: 62px 0 82px;
}
@media (max-width: 768px) {
  .contact-us {
    text-align: center;
    padding: 48px 0 50px;
  }
}
@media (max-width: 414px) {
  .contact-us {
    padding: 34px 0 49px;
  }
}

.contact-us__heading {
  margin: 0 0 17px;
}
@media (max-width: 414px) {
  .contact-us__heading {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .contact-us__container {
    flex-direction: column;
  }
}

.contact-us__content {
  max-width: 524px;
}
@media (max-width: 768px) {
  .contact-us__content {
    max-width: 100%;
    margin-bottom: 52px;
  }
}
@media (max-width: 414px) {
  .contact-us__content {
    margin-bottom: 41px;
  }
}

.contact-us__description {
  margin: 0 0 33px;
}
@media (max-width: 768px) {
  .contact-us__description {
    margin-bottom: 26px;
  }
}
@media (max-width: 414px) {
  .contact-us__description {
    margin-bottom: 24px;
  }
}

.contact-us__link {
  font-size: 2.5rem;
  line-height: 2.6rem;
  font-weight: normal;
  margin: 0 0 19px;
}
@media (max-width: 414px) {
  .contact-us__link {
    margin-bottom: 17px;
    font-size: 2rem;
  }
}
.contact-us__link:last-child {
  margin-bottom: 0;
}
.contact-us__link:hover a {
  text-decoration: underline;
}
.contact-us__link a {
  margin-left: 11px;
}

.contact-us__form input,
.contact-us__form textarea {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px 21px;
  outline: none;
}
.contact-us__form input:focus,
.contact-us__form textarea:focus {
  border-color: #ff9900;
}
.contact-us__form textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

@media (max-width: 414px) {
  .contact-us__form-line {
    flex-direction: column;
  }
}
.contact-us__form-line > * {
  margin-bottom: 18px;
}
@media (max-width: 414px) {
  .contact-us__form-line > * {
    margin-bottom: 16px;
  }
}

.contact-us__button {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .contact-us__button {
    margin-top: 26px;
  }
}
@media (max-width: 414px) {
  .contact-us__button {
    margin-top: 24px;
  }
}
.contact-us__button .btn {
  min-width: 117px;
}

/*# sourceMappingURL=style.css.map */
