@mixin font($size: inherit, $height: inherit, $weight: bold) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    flex-basis: $width;
  }
}
