%font-primary {
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

%font-secondary {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

%color-heading {
  color: $color-heading;
}

%transition {
  transition: all 0.2s;
}
