.contact-us {
  background: $color-bg;
  padding: 62px 0 82px;
}

.contact-us__heading {
  margin: 0 0 17px;
}

.contact-us__content {
  max-width: 524px;
}

.contact-us__description {
  margin: 0 0 33px;
}

.contact-us__link {
  @include font(2.5rem, 2.6rem, normal);
  margin: 0 0 19px;

  a {
    margin-left: 11px;
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

.contact-us__form {
  input,
  textarea {
    background: $color-light;
    border: 1px solid $color-light;
    border-radius: 5px;
    padding: 10px 21px;
    outline: none;

    &:focus {
      border-color: $color-primary;
    }
  }

  textarea {
    resize: none;
    width: 100%;
    height: 160px;
  }
}

.contact-us__form-line {
  margin-bottom: 18px;
}

.contact-us__button {
  .btn {
    min-width: 117px;
  }
}
