.hero {
  padding: 30px 0;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  padding-right: 66px;
}

.hero__heading {
  margin: 0 0 30px;
}

.hero__description {
  margin: 0 0 45px;
  @extend %font-secondary;
}

.hero__buttons > .btn {
  margin-right: 44px;
}
