.tools {
  text-align: center;
}

.tools__wrapper {
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: url('../../images/backgrounds/tools-bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.tools__heading {
  max-width: 462px;
  margin: auto;
  margin-bottom: 70px;

  @include media-tablet {
    margin-bottom: 50px;
  }

  @include media-mobile {
    margin-bottom: 43px;
  }
}

.tools__container {
  .tool {
    margin-bottom: 60px;

    @include media-tablet {
      flex-basis: 46%;
      margin-bottom: 54px;
    }

    @include media-mobile {
      flex-basis: 100%;
      margin-bottom: 47px;
    }
  }
}

// Block tool
.tool {
  text-align: left;

  @include media-tablet {
    text-align: center;
  }
}

.tool__title {
  margin: 30px 0 16px;

  @include media-tablet {
    margin: 20px 0 6px;
  }

  @include media-mobile {
    margin: 11px 0 2px;
  }
}

.tool__text {
  margin: 0;
}
