.logo {
  display: inline-flex;
}

.logo__object {
  width: 191px;
  height: 32px;

  @include media-mobile {
    width: 158px;
    height: 26px;
  }
}

.logo-path {
  @extend %transition;
}

.logo-svg {
  cursor: pointer;

  &:hover {
    .logo-path {
      fill: $color-primary;
    }
  }
}
