// TODO: Cursor pointer on tag hover

.tags {
  display: flex;
  flex-wrap: wrap;

  > .tag {
    margin-right: 0.7rem;
  }
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  @include font(1.3rem, 2.8rem, normal);

  &--primary {
    background: $color-tag;
  }
  &--selected {
    color: $color-light;
    background: $color-primary;
  }
  &--outlined {
    border: 1px solid $color-border;
  }
}
